.main-container {
  background-color: black;
  padding: 1rem;
}

.list {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

h1 {
  color: white;
  text-align: center;
  font-family: didot, serif;
  font-weight: bold;
}
